
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summoner Info</title>
</head>
<body>
    <h1>Summoner Information</h1>
    <img src="{{ profile_url }}" alt="Profile Icon">
    
    <h2>Summoner Details</h2>
    <ul>
        <li><strong>Name:</strong> {{ summoner_data.name }}</li>
        <li><strong>Level:</strong> {{ summoner_data.summonerLevel }}</li>
        <li><strong>ID:</strong> {{ summoner_data.id }}</li>
        <li><strong>Account ID:</strong> {{ summoner_data.accountId }}</li>

    </ul>
</body>
</html>

